body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 750px;
    height: 750px;
    flex-grow: 1;
}

.gridLine {
    display: flex;
    flex-grow: 1;
    width: 750px;
    height: auto;

}
.grid {
    background-color: rgb(104, 109, 187);
   
}

.btn {
    border-radius: 50px;
    width: 100px;
    height: 50px;
}